# Cargo and Rust
/target/
/**/target/
**/*.rs.bk
Cargo.lock

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Visual Studio Code
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Node.js (for frontend)
node_modules/
npm-debug.log
yarn-error.log

# Miscellaneous
*.log
*.swp
*.swo
*.bak
*.tmp

.VSCodeCounter/
.history/